<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

<nav class="navbar has-background-black-bis" role="navigation">
  <div id="makersbnb_navbar" class="navbar-menu">
    <div class="navbar-start">
      <div class="level-item has-text-centered">
        <div>
          <figure class="image is-128x128"><img src='/images/Makers_logo.png'></figure>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title is-1 has-text-white">MakersBnB</h1>
        </div>
      </div>
    </div>
    <div class="level-item has-text-centered">
        <form action='/'>
        <button class="button is-black is-medium">Home</button>
        </form>
        </div>
  </div>
</nav>
    <section class="section">
      <div class="container">
        <form action="/add_rental" method="post">
          <label class="label">Property name:</label>
          <input class="input is-small is-responsive" type="text" name="title"/>
          <br>
          <br>
          <label class="label">Description:</label>
          <input class="input is-small is-responsive" type="text" name="rental_description"/>
          <br>
          <br>
          <label class="label">Contact email:</label>
          <input class="input is-small" type="email" name="contact_details"/>
          <br>
          <br>
            <div class="columns">
              <div class="column">
                <label class="label">Price per night:</label>
                <input class="input is-small is-responsive" type="number" min="0.00" max="10000000.00" step="0.01" name="price"/>
              </div>
              <div class="column">
                <label class="label">Available from:</label>
                <input class="input is-small is-responsive" type="date" name="rental_start_date"/>  
              </div>
              <div class="column">
                <label class="label">until:</label>
                <input class="input is-small is-responsive" type="date" name="rental_end_date"/>  
              </div>
            </div>
          <br>
          <button class="button is-primary" type="submit">Submit</button>
        </form>
      </div>
    </section>
  </body>
</html>

