<form action="/add_user/new" method="post">
  Username:
  <input type="text" name="username" placeholders="Username"/>
  <br>
  Email:
  <input type="text" name="email" placeholders="Email"/>
  <br>
  Password:
  <input type="password" name="password" placeholders="Password"/>
  <input type="submit" name="Register"/>
</form>