<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

<nav class="navbar has-background-black-bis" role="navigation">
  <div id="makersbnb_navbar" class="navbar-menu">
    <div class="navbar-start">
      <div class="level-item has-text-centered">
        <div>
          <figure class="image is-128x128"><img src='/images/Makers_logo.png'></figure>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title is-1 has-text-white">MakersBnB</h1>
        </div>
      </div>
    </div>
    <div class="level-item has-text-centered">
        <form action='/'>
        <button class="button is-black is-medium">Home</button>
        </form>
        </div>
  </div>
</nav>
  <div>
    <section class="section">
      <form action="/add_user/new" method="post">
      <label class="label is-size-5 has-text-grey">Username:</label>
      <input class="is-size-5" type="text" name="username" placeholders="Username"/>
        <br>
        <br>
      <label class="label is-size-5 has-text-grey">Email:</label>
      <input class="is-size-5" type="text" name="email" placeholders="Email"/>
        <br>
        <br>
      <label class="label is-size-5 has-text-grey">Password:</label>
      <input class="is-size-5" type="password" name="password" placeholders="Password"/>
        <br>
        <br>
      <button class="button is-primary" value="Submit" name="Register" >Submit</button>  
      </form>
    </section>
  </div>
</html>
