<h1>MakersBnB</h1>

Signed in as Bob

<form action="/add_rental">
  <input type="submit" value="List a property"/>
</form>


<form action="/add_user">
  <input type="submit" value="Register"/>
</form>

<% @rentals.each do |rental| %>
  <%= rental.title %>
  <%= rental.rental_description %>
  <%= rental.price %>
  <%= rental.contact_details %>
  <br>
<% end %>

