<%= @selected_rental.title %>

<form action="/request" method="post">
Select date
<input type="date" name="requested_date">
<input type="hidden" name="rental_id" value="<%= @selected_rental.id %>">
<input type="hidden" name="owner_id" value="<%= @selected_rental.owner_id %>">
<br>
<input type="submit" value="Submit">
</form>